
.block{
    padding: 10px;
    border: 2px solid black;
    width: 700px;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    border-bottom: 4px solid blue;
    margin-bottom: 20px;
    width: 700px;
}

.block button{
    height: 30px;
    width: 110px;
    font-size: 15px;
    color: black;
    border: 3px solid darkgrey;
    margin-bottom: 20px;
    margin-top: 8px;
}

.postInfo{
    margin: 8px 0;
    padding: 10px;
    border: 4px double blue;
    font-size: 25px;
}